docs/quests/02_action_nodes_edit.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -64
      ],
      "id": "0b7cfc50-aa2a-4b0e-a0c9-9c5a1c27ed59",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/todos/2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -64
      ],
      "id": "12c9d25f-8192-4847-bab9-59f3e11c6b50",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb456c69-7c66-40d2-b772-c7980989fb2f",
              "name": "유저아이디",
              "value": "={{ $json.userId }}",
              "type": "number"
            },
            {
              "id": "f1e10b0e-182a-4c7b-a1d5-613ca778632f",
              "name": "타이틀",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -64
      ],
      "id": "54f4f029-a2b7-44dd-881c-357eaa683a27",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "352939d4-f03f-4d5b-b1dd-b3d7e1dd8eca",
  "meta": {
    "instanceId": "5d5789c044a3a2821db2b160d0a1657b1d607be52f0c09651e6533112e35e70c"
  },
  "id": "q0cCZ0NEuxEBssGb",
  "tags": []
}